.main{
  display: inline-block;
}
.board{
  display: grid;
  grid-template-columns:auto repeat(8, 1fr) auto;
  grid-template-rows: auto repeat(8, 1fr) auto;
  border: 1px solid rgb(128, 128, 128);
}
.cell{
  display: inline-block;
  width:30px;
  height:30px;
  cursor: pointer;
}

.pos{
  display: inline-block;
  align-self: center;
  justify-self: center;
  margin: 5px;
}

